<DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{titleName}}</title>


        <link rel="stylesheet" type="text/css" href="/public/css/{{styleType}}.css">


        <script defer type="text/javascript" src="public/js/{{scriptType}}.js"></script>
        <script defer type="text/javascript" src="public/js/FrontEnd.js"></script>



    </head>