

    <header>
        <legend>User Login</legend>
    </header>

    
    <form id="form-login" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <div class="container-2">
            <label for="fusername1">Username: </label>
            <br /> 
            <input type="text" id="username1" name="username" required>
            <br/>
            <label for="fpasswordname">Password: </label>
            <br />
            <input type="password" id="password1" name="password" required>
            <br />
            <input class="submit_login" type="submit" id="loginSubmit">
        </div>
    </form>
