
body {
    background-size: cover; 
    background-image: url("https://i.makeagif.com/media/3-05-2016/0mCtM3.gif");
}

legend {
    font-size: 1px; 
    text-align: center; 
    padding: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: solid 3px white; 
    color: rgb(10, 37, 39); 
    animation-name: text_title; 
    animation-duration: 3s; 
    animation-fill-mode: forwards; 
}

@keyframes text_title {
    0% {
        font-size: 1px; 
    }
    100% {
        font-size: 50px; 
    }
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-left: 20px; 
}

.container-1 {
    background-color: rgb(130, 0, 255);
    box-shadow: 0 25px 30px rgba(133, 247, 222, 0.582); 
    width: 20%;  
    border-radius: 20px; 
    margin: auto; 

}

.container-1:hover {
    background-color: rgb(235, 133, 255);
    box-shadow: 0 25px 30px rgba(9, 255, 202, 0.842);
    transition-duration: 1.0s; 
    border-radius: 20px; 
    margin: auto; 
    width: 20%; 
}

input {
    border-radius: 25px; 
    background-color: rgb(170, 255, 223); 
    padding: 5px; 
    width: 80%; 
    margin-left: 10%; 

}

.button1 {
    background-color: purple; 
    color: rgb(170, 255, 223);
    margin: 20px; 
    margin-left: 10%; 

}

a {
    color: rgb(19, 37, 37); 
    margin-left: 20px; 
}

.checkbox1 {
    margin-bottom: 5px; 
}

.topTitle {
    font-family: cursive;
}

.navigationBar {
    background-color: rgb(248, 160, 241);
    padding: 20px;
}
.nav_options {   
    text-align: center;   
}


#link_button1 , #link_button2, #link_button3, .link_2, .link_3 {
    color: lightgrey; 
    background-color: purple; 
    margin-bottom: 10px; 
    border-radius: 2px;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

#link_button1:hover , #link_button2:hover, #link_button3:hover, .link_2:hover, .link_3:hover, .link_1:hover {
    color: lightgrey; 
    background-color: rgb(121, 70, 9); 
    margin-bottom: 10px; 
    border-radius: 2px;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}


.search_bar {
    margin-top: 20px; 
    text-align: center; 
    padding: 20px; 

}

.search_input {
    background-color: lightpink; 
}

.search_button {
    color: white; 
    background-color: purple; 
    border-radius: 10px;
}





#flash-message {
    position: fixed; 
    left: 50%; 
    top: 25%; 
}

#flash-message div {
    text-align: center; 
}
